<div id="admin">
  <h1>Economic Controls</h1>

  <h3>Bulk Economy Update</h3>
  <section>
    <%= form_for :un_public_relations do |form| %>
        <table class="unpr">
          <thead>
            <tr>
              <th>Country</th>
              <th>New Income Level</th>
            </tr>
          </thead>
          <tbody>
        <% @countries.each do |country| %>
          <%= form.fields_for ('countries['+country+']') do |country_form| %>
            <%= country_form.hidden_field :name, :value => country %>
            <tr>
              <td><%= country_form.label country, country %> </td>
              <td><%= country_form.number_field :economy_amount, :in => -0..9, :step => '1' %></td>
            </tr>
            <% end %>
        <% end %>
        </tbody>
        </table>
      <%= form.submit "Save New Economic Values" %>
    <% end %>
  </section>
</div>
