<div id="admin">
  <h1>Nation Controls</h1>
  <h3>Alliance Update</h3>
  <section>
    <%= form_for alliance_update_path do |form|%>
      <%= form.select :nation_a, options_for_select(Game::COUNTRIES) %>
      <%= form.select :nation_b, options_for_select(Game::COUNTRIES) %>
      <%= form.select :state, options_for_select(['Allied', 'Neutral', 'WAR']) %>
      <%= form.submit "Set Alliance State" %>
    <% end %>
  </section>
  <h3>Bulk Economy Update</h3>
  <section>
    <%= form_for :set_economy_path do |form| %>
      <%= form.label :round_label, "Round: " %>
      <%= form.number_field :round, :in => 0..12, :step => '1', :value=> @current_round %>
      <br />
      <table class="economy">
        <thead>
          <tr>
            <th>Country</th>
            <th>New Income Level</th>
          </tr>
        </thead>
        <tbody>
          <% @countries.each do |country| %>
            <%= form.fields_for ('countries['+country+']') do |country_form| %>
              <%= country_form.hidden_field :name, :value => country %>
              <tr>
                <td><%= country_form.label country, country %> </td>
                <td><%= country_form.number_field :pr_amount, :in => 0..9, :step => '1' %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <%= form.submit "Save new PR" %>

    <% end %>

    <br />
    <%= link_to 'New PR Entry', new_public_relation_path, :class => 'button-input' %>
  </section>
</div>
