<% unless current_page?('/')%>
<% simple = true %>
<nav>
  <ul>
    <li><%= link_to 'Dashboard', root_path , method: :get %></li>
    <% if not simple %><li><%= link_to 'United Nations', un_dashboard_path %></li><% end %>
    <li><%= link_to 'Terror Tracker', terror_trackers_path %></li>
    <% if not simple %><li><%= link_to 'Human Controls', human_control_path %></li><% end %>
    <% if not simple %><li><%= link_to 'PR Controls', public_relations_path %></li><% end %>
    <% if not simple %><li><%= link_to 'News', news_messages_path %></li><% end %>
    <li><%= link_to 'Administration', admin_control_path %></li>
  </ul>
</nav>
<% end %>
